.header{height:110px;display:table;  }
.header-text {font-size:10px;height: 110px; 
    vertical-align:middle;  
    display:table-cell; }
/*------------menubar---------------*/
.menubar{padding-top:20px;width:1170px;font-size:16px;}
.menubar ul li{position:relative;}
.menubar ul li a{text-decoration:none;color:#777;padding:10px 20px;display:block;background:url(detail.png) bottom right no-repeat;}
.menubar ul li a:only-child{background:none;}
.menubar ul li:hover{background:#777;}
.menubar ul li:hover>a{color:#fff;}
.menubar ul li:hover>ul{display:block;}nav>ul>li{display:inline-block;}
.menubar ul ul{position:absolute;top:100%;list-style:none;background:#fff;box-shadow:0 3px 3px rgba(0,0,0,0.2);display:none;}
.menubar ul ul ul{position:absolute;left:100%;top:0;}

.shopbycat {margin-top:30px;display:table}
.shopbycattext {font-family:"GrayBold";font-size:18px;text-align:center;display:table-cell;padding-bottom:5px}
.shopbycat a{color: #000000;}
.shopbycatrow {float:left}
.shopbycatrow img{border:0}
.shopbycatimg { position:relative;width:370px; height:275px;float:left} 
.shopbycatimg a,.shopbycatimg label,.shopbycatimg div{display:none;width:100%;  text-decoration:none; padding:0;}
.shopbycatimg:hover{cursor:pointer} 
.shopbycatimg:hover p{ display:block;color:#FFF;width:100%; 
z-index:10;height:100%;  background:#000;filter:alpha(opacity=70);-moz-opacity:0.7;opacity: 0.7;}
.shopbycatimg:hover a.focus{cursor:pointer; position:absolute; top:0; width:100%; height:100%;
 z-index:100; left:0; top:0;display:block;}
 .shopbycatimg:hover div{ display:block;z-index:100;color: #ffffff;position: absolute;top: 50%; transform:translate(-50%,-50%);left:50%;margin:0;padding:0;}
 .shopbycatimg:hover label{ display:block; font: 30px "GrayReg";text-align:center;z-index:100;color: #ffffff; }
 .shopbycatimg:hover label span{ position:absolute;display:block;width:150px;left:50%;transform:translateX(-50%);font: 12px "RobotoReg";height:30px;line-height:30px;border-style: solid;border-width: 1px;}
 
.brands-title {font-family:'Main';margin:20px 0 20px 0;text-align:center}
.campaign-list li{float:left; margin:0 55px 0 0 }
.campaign-img{border:1px solid #d7d7d7; position:relative; z-index:700}