.header{height:110px;display:table;  }
.header-text {font-size:10px;height: 110px; 
    vertical-align:middle;  
    display:table-cell; }

/* ---------- Navbar ----------------- */
.navbar{ margin:30px 0 20px 0;}
.navbar-menu{ width:98.29059%;margin:0;padding:0;float:left;}
.navbar-search {width:1.70941%;margin:0;padding:0;float:right}
.navbar-search img{width:16px;height:16px;margin-bottom:4px}

.mnav{width:100%;}
.mnav a {margin-right:1.5em; font: 18px 'GrayText'; text-decoration:none; color:#000 }
@media only screen and (max-width:1150px){
	.mnav a {margin-right:0.9em;font-size:17px;}
}
/*
@media only screen and (max-width:1024px){
	.mnav a {margin-right:1.4em;font-size:7px;}
}
*/
#nav .submenu{display:none; position:absolute;top:36px; left:-125px; width:720px; padding:10px 10px 15px 10px; background-color:rgba(255,255,255,.9); background-color:#fff\0/; *background-color:#fff; border:1px solid #d7d7d7; border-top:none; box-shadow:0 1px 3px rgba(0,0,0,.2); z-index:1100;
border-radius:0 0 5px 5px;
-moz-border-radius:0 0 5px 5px;
-webkit-border-radius:0 0 5px 5px
}
#nav .submenu.current{z-index:1120}
#nav .submenu li{width:220px; margin:0 10px; float:left; padding:0 0 5px 0}
#nav .submenu li a{display:block; text-decoration:none; color:#acacac; padding:5px 0}
#nav .submenu li a:hover{color:#acd373}
#nav .submenu li a:hover .campaign{color:#6eb809}
#nav .submenu .campaign{font:500 1.25em 'Advent Pro', sans-serif; color:#464646}
#nav .submenu .campaign-desc{font:.75em Arial, sans-serif}

#nav .submenu dl{width:220px; margin:0 10px; float:left}
#nav .submenu dl a{display:block; text-decoration:none}
#nav .submenu dl a:hover{color:#6eb809}
#nav .submenu dt{font:500 1.25em 'Advent Pro', sans-serif; padding:0 0 5px 0; margin-top:10px}
#nav .submenu dt a{color:#464646; background:url(../../pc/image/layout/category_icons.png) no-repeat 0 0; padding-left:30px}
#nav .submenu dt.furniture a{background-position:0 0}
#nav .submenu dt.lighting a{background-position:0 -30px}
#nav .submenu dt.rugs a{background-position:0 -60px}
#nav .submenu dt.homedecor a{background-position:0 -90px}
#nav .submenu dt.kitchenware a{background-position:0 -119px}
#nav .submenu dt.pets a{background-position:0 -152px}
#nav .submenu dd{font:.875em Arial, sans-serif}
#nav .submenu dd a{margin:5px 0; color:#959595}

#nav-bubble-ongoing{width:63px; height:20px; position:absolute; top:-9px; left:27px; display:none}
#nav-bubble-ongoing.hover{background-position: 0 -1005px}


/*--------------shop by catalog ------------------------------*/
.shopbycat {margin-top:30px;display:block;width:100%}
.shopbycattext {font-family:"GrayBold";font-size:18px;text-align:center;padding-bottom:5px;}
.shopbycattext a{color: #000000;text-decoration:none;}

.shopbycatcol{ position:relative;width:31.623932%;padding:0;margin:0;float:left}
.shopbycatimg { position:relative;width:100%;} 
.shopbycatimg img{width:100%; }
.shopbycatimg label,.shopbycatimg div,.shopbycatimg p{display:none;width:100%;  }

.shopbycatimgexp { position:relative;width:100%;cursor:pointer;padding:0;margin:0;} 
.shopbycatimgexp img{width:100%; }
.shopbycatimgexp p{ display:block;position: absolute;left:0;top:0;color:#FFF;width:100%; z-index:50;height:100%;  background:#000;filter:alpha(opacity=70);-moz-opacity:0.7;opacity: 0.7;padding:0;margin:0}
 .shopbycatimgexp div{ display:block;z-index:100;color: #ffffff;position: absolute;transform:translate(-50%,-50%);left:50%;top: 40%; width:100%; margin:0;padding:0;}
 .shopbycatimgexp div label{ display:block; width:100%;font: 30px "GrayReg";text-align:center;z-index:100;color: #ffffff; }
 .shopbycatimgexp div label span{ position:absolute;display:block;left:50%;transform:translateX(-50%);font: 12px "RobotoReg";height:30px;line-height:30px;width:150px;border-style: solid;border-width: 1px;margin-top:10px;margin-bottom:0}
 
 .catalogcontent {position:relative;width:100%;padding:0;margin:0;}
 .catalogimgrow {position:relative;}
 .catalogimgrowleft {width:48.05194%;margin-right:3.8961%;float:left;}
 .catalogimgrowright {width:48.05194%;float:left;}

 .catalogimglink {position:relative;}
 .catalogimglink a{text-decoration:none;cursor:pointer;} 
 .catalogimglink a img { margin-bottom:15px;}
 .catalogimglink a span{ display:none;}
 .catalogimglink:hover a img{ opacity: 0.15;}
 .catalogimglink:hover a span{display:block; position: absolute;transform:translate(-50%,-50%);left:50%;top: 50%;width:100%;font: 16px "RobotoReg";text-align:center;color: #000000; }
  .catalogimglink:hover a span strong{font: 24px "GrayBold";}

 /* --------------------------------------------------------------*/
 
.brands-title {font-family:'Main';margin:20px 0 20px 0;text-align:center}
.campaign-list li{float:left; margin:0 55px 0 0 }
.campaign-img{border:1px solid #d7d7d7; position:relative; z-index:700}