.header{height:110px;display:table;  }
.header-text {font-size:10px;height: 110px; 
    vertical-align:middle;  
    display:table-cell; }

/* ---------- Navbar ----------------- */
.navbar{ margin:30px 0 20px 0;position:relative;display:block;}
.navbar-menu{ z-index:100;width:98.29059%;margin:0;padding:0;float:left;}
.navbar-search {width:1.70941%;margin:0;padding:0;float:right}
.navbar-search img{width:16px;height:16px;margin-bottom:4px}

.searchbar{position:relative;width:100%;left:0;top:0;height:23px;display:none;}
.searchbarleft { position:absolute;width:45%;}
.searchbarleft input {width:90%;height:23px;margin:0;padding:0 0 0 32px;font: 16px 'Main';color:#b7b7b7;background: url("/img/ico_search.svg") no-repeat left;background-size: 16px 16px; 
border: 0px solid #FFF; box-shadow:none; transition: width 0s; }
.searchbarleft input:focus{box-shadow:none; }
.icoclose {width:14px;opacity:0.8;}
.searchbarright {position:absolute;left:73%;}

.banner {max-width: 100%; position:relative; }
.autocomplete-container {position: absolute;background-color:#FFF;top:0px;left:25%;width:50%;margin: 0 auto;display:none; }
.autocomplete-container dt{ font: 12px "Main"; color:#b7b7b7;}
.autocomplete-container dd{ font: 16px "Main"; color:#000;}
.containerleft {width:50%;float:left}
.containerright{width:50%;float:left}

.mnav{width:100%;}
.mnav span {padding-bottom:5px;margin-right:1.5em; font: 18px 'GrayText'; color:#000 }
.mnav a {padding-bottom:5px;margin-right:1.5em; font: 18px 'GrayText'; text-decoration:none; color:#000 }
.mnav a:hover { border-bottom:3px solid #333;} 
@media only screen and (max-width:1150px){
	.mnav a {margin-right:0.9em;font-size:17px;}
}
/*
@media only screen and (max-width:1024px){.mnav a {margin-right:1.4em;font-size:7px;}}
*/

.megamenu{position: absolute;display: none;background: white;margin-top: 10px;z-index: 100;width:1170px;}
.megamenu .column{width:16.66667%;float: left;margin-left:0;margin-top: 20px;text-align:left;}
.megamenu .column a{color:#000;text-decoration: none;}
.megamenu .column dl{float:left;}
.megamenu .column dl dt{font: 16px "GrayText";}
.megamenu .column dl dd{font: 16px "Main";padding-top: 8px;}
.megamenu .column dl dd a:hover{text-decoration:underline;}
/*.megamenu .column dl dd a:hover{background-color:#000; color:#FFF;}*/

/*--------------shop by catalog ------------------------------*/
.shopbycat {margin-top:30px;display:block;width:100%}
.shopbycattext {font-family:"GrayBold";font-size:18px;text-align:center;padding-bottom:5px;}
.shopbycattext a{color: #000000;text-decoration:none;}

.shopbycatcol{ position:relative;width:31.623932%;padding:0;margin:0;float:left}
.shopbycatimg { position:relative;width:100%;} 
.shopbycatimg img{width:100%; }
.shopbycatimg label,.shopbycatimg div,.shopbycatimg p{display:none;width:100%;  }

.shopbycatimgexp { position:relative;width:100%;cursor:pointer;padding:0;margin:0;} 
.shopbycatimgexp img{width:100%; }
.shopbycatimgexp p{ display:block;position: absolute;left:0;top:0;color:#FFF;width:100%; z-index:50;height:100%;  background:#000;filter:alpha(opacity=70);-moz-opacity:0.7;opacity: 0.7;padding:0;margin:0}
 .shopbycatimgexp div{ display:block;z-index:100;color: #ffffff;position: absolute;transform:translate(-50%,-50%);left:50%;top: 40%; width:100%; margin:0;padding:0;}
 .shopbycatimgexp div label{ display:block; width:100%;font: 30px "GrayReg";text-align:center;z-index:100;color: #ffffff; }
 .shopbycatimgexp div label span{ position:absolute;display:block;left:50%;transform:translateX(-50%);font: 12px "RobotoReg";height:30px;line-height:30px;width:150px;border-style: solid;border-width: 1px;margin-top:10px;margin-bottom:0}
 
 .catalogcontent {position:relative;width:100%;padding:0;margin:0;}
 .catalogimgrow {position:relative;}
 .catalogimgrowleft {width:48.05194%;margin-right:3.8961%;float:left;}
 .catalogimgrowright {width:48.05194%;float:left;}

 .catalogimglink {position:relative;}
 .catalogimglink a{text-decoration:none;cursor:pointer;} 
 .catalogimglink a img { margin-bottom:15px;}
 .catalogimglink a span{ display:none;}
 .catalogimglink:hover a img{ opacity: 0.15;}
 .catalogimglink:hover a span{display:block; position: absolute;transform:translate(-50%,-50%);left:50%;top: 50%;width:100%;font: 16px "RobotoReg";text-align:center;color: #000000; }
  .catalogimglink:hover a span strong{font: 24px "GrayBold";}

 /* --------------------------------------------------------------*/
 
.brands-title {font-family:'Main';margin:20px 0 20px 0;text-align:center}
.campaign-list li{float:left; margin:0 55px 0 0 }
.campaign-img{border:1px solid #d7d7d7; position:relative; z-index:700}