.header{height:110px;display:table;  }
.header-text {font-size:10px;height: 110px; 
    vertical-align:middle;  
    display:table-cell; }
/*------------menubar---------------*/
.menubar{padding-top:20px;width:1170px;font-size:16px;}
.menubar ul li{position:relative;}
.menubar ul li a{text-decoration:none;color:#777;padding:10px 20px;display:block;background:url(detail.png) bottom right no-repeat;}
.menubar ul li a:only-child{background:none;}
.menubar ul li:hover{background:#777;}
.menubar ul li:hover>a{color:#fff;}
.menubar ul li:hover>ul{display:block;}nav>ul>li{display:inline-block;}
.menubar ul ul{position:absolute;top:100%;list-style:none;background:#fff;box-shadow:0 3px 3px rgba(0,0,0,0.2);display:none;}
.menubar ul ul ul{position:absolute;left:100%;top:0;}

/*--------------shop by catalog ------------------------------*/
.shopbycat {margin-top:30px;display:block;width:100%}
.shopbycattext {font-family:"GrayBold";font-size:18px;text-align:center;padding-bottom:5px;}
.shopbycattext a{color: #000000;text-decoration:none;}

@media only screen and (max-width:1024px){
	.shopbycattext {font-family:"GrayBold";font-size:12px;text-align:center;padding-bottom:5px}
}

.shopbycatcol{ position:relative;width:31.623932%;padding:0;margin:0;float:left}
.shopbycatimg { position:relative;width:100%;} 
.shopbycatimg img{width:100%; }
.shopbycatimg label,.shopbycatimg div,.shopbycatimg p{display:none;width:100%;  }

.shopbycatimgexp { position:relative;width:100%;cursor:pointer;padding:0;margin:0;} 
.shopbycatimgexp img{width:100%; }
.shopbycatimgexp p{ display:block;position: absolute;left:0;top:0;color:#FFF;width:100%; z-index:50;height:100%;  background:#000;filter:alpha(opacity=70);-moz-opacity:0.7;opacity: 0.7;padding:0;margin:0}
 .shopbycatimgexp div{ display:block;z-index:100;color: #ffffff;position: absolute;transform:translate(-50%,-50%);left:50%;top: 40%; width:100%; margin:0;padding:0;}
 .shopbycatimgexp div label{ display:block; width:100%;font: 30px "GrayReg";text-align:center;z-index:100;color: #ffffff; }
 .shopbycatimgexp div label span{ position:absolute;display:block;left:50%;transform:translateX(-50%);font: 12px "RobotoReg";height:30px;line-height:30px;width:150px;border-style: solid;border-width: 1px;margin-top:10px;margin-bottom:0}
 
 .catalogcontent {position:relative;width:100%;padding:0;margin:0;}
 .catalogimgrow {position:relative;}
 .catalogimgrowleft {width:48.05194%;margin-right:3.8961%;float:left;}
 .catalogimgrowright {width:48.05194%;float:left;}

 .catalogimglink {position:relative;}
 .catalogimglink a{text-decoration:none;cursor:pointer;} 
 .catalogimglink a img { margin-bottom:15px;}
 .catalogimglink a span{ display:none;}
 .catalogimglink:hover a img{ opacity: 0.15;}
 .catalogimglink:hover a span{display:block; position: absolute;transform:translate(-50%,-50%);left:50%;top: 50%;width:100%;font: 30px "GrayReg";text-align:center;color: #000000; }

 /* --------------------------------------------------------------*/
 
.brands-title {font-family:'Main';margin:20px 0 20px 0;text-align:center}
.campaign-list li{float:left; margin:0 55px 0 0 }
.campaign-img{border:1px solid #d7d7d7; position:relative; z-index:700}